@keyframes moveToTrainer {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(100vw - 50px)); /* Ajusta el valor para que coincida con la posición final */
    }
}

.pokemon-img-moving {
    animation: moveToTrainer 5s forwards;
}

footer {
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 1rem;
    background-color: #333;
    color: #fff;
}

.footer-section {
    flex: 1;
    margin: 1rem;
}

.footer-section h4 {
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section img.moving-image {
    max-width: 100px;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 2rem 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    footer {
        flex-direction: column;
    }

    .footer-section {
        margin: 1rem 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    .footer-section {
        text-align: center;
    }

    .footer-section img.moving-image {
        display: none;
    }
    .footer-section img.moving-image:hover{
        box-shadow: 0 0 10px #FFCC00, 0 0 20px #FFCC00; 
    transition: all 0.5s ease-in-out;


    }

}

.clas-text-h4:hover{
    color: #FFCC00; 
    border-radius: 10px;
    box-shadow: 0 0 10px #FFCC00, 0 0 20px #FFCC00; 
    transition: all 0.5s ease-in-out;
    height: 25px;
    width: 200px;
    text-align: center;
}

.ul-foot{
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 70px;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(40, 58, 47, 0.5);
    background-color: rgb(31, 24, 29);
    cursor: pointer; /* MANO COMO CURSOR*/
    
}

.ul-foot:hover{
    text-align: center;
    color: #FFCC00; 
    border-radius: 10px;
    box-shadow: 0 0 10px #FFCC00, 0 0 20px #FFCC00; 
}
    

hr{
    width: 100%;
    height: 1px;
    border: 10;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 20px 0;
}


.selected-pokemons {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
}

.pokedex-container {
    padding: 17px 40px; 
    background-color: #FF4500; /* Reemplaza con el valor de colores.$color-nami */
    box-shadow: 0 0 8px #000000; /* Reemplaza con el valor de colores.$color-negro */
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.05s ease;
    cursor: pointer;
    line-height: 1.5;
    font-family: 'Times New Roman', serif; /* Reemplaza con el valor de tipografia-tex.$font-ancient-text */

    padding: 20px;
    border-radius: 50px; /* Asumiendo que .borde__redondeado__50px es border-radius: 50px; */
}

.pokedex-container:hover {
    line-height: 3px;
    background-color: #FF4500; /* Reemplaza con el valor de colores.$color-nami */
    color: #FFA500; /* Reemplaza con el valor de colores.$color-secundario */
    box-shadow: 0 7px 29px 0 #000000; /* Reemplaza con el valor de colores.$color-negro */
}

.pokedex-container:active {
    line-height: 3px;
    background-color: #FF4500; /* Reemplaza con el valor de colores.$color-nami */
    color: #FFA500; /* Reemplaza con el valor de colores.$color-secundario */
    box-shadow: 0 0 0 0 #000000; /* Reemplaza con el valor de colores.$color-negro */
    transform: translate(18px);
    transition: 100ms;
}


/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

#add-companion {
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label, input {
    margin-bottom: 10px;
}


.gif, .no-gif{
    display: none;
    width: 40px;
    height: 40px;
}
.efecto:hover .gif {
    display: flex;
    width: 40px;
    height: 40px;
}

.efecto:hover .no-gif {
    display: none;
    width: 40px;
    height: 40px;
}
/* seccion cartas de entrenadores ptetetetetettte paca paca
paca paca paca*/

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
   text-align: center;
    margin-top: 60px;
}

nav {
    background-color: #FFCC01;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #3B4CCA;
}

main {
    padding: 20px;
}

h1#typing {
    font-size: 2em;
    margin: 20px 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #333;
}

.trainers-container {
    background-color: white;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1;
    min-width: 45%;
}

.selected-pokemons {
    order: 1;
}

.trainers-container {
    order: 2;
}

.selected-pokemon-card, .trainer-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.selected-pokemon-card img, .trainer-pokemon-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.selected-pokemon-card h3 {
    flex-grow: 1;
    margin: 0 10px;
}

.selected-pokemon-card button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.selected-pokemon-card button:hover {
    background-color: #cc0000;
}

.trainer-card h3 {
    margin: 0 0 10px;
}

.trainer-card span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.trainer-card button {
    background-color: #3B4CCA;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.trainer-card button:hover {
    background-color: #2C3E8A;
}

.trainer-card ul {
    list-style: none;
    padding: 0;
}

.trainer-card ul li {
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}






.remove-btn {
    background-color: #3e3e3e;
    color: #ffffff; 
    font-weight: bold; /* Texto en negrita */

    border: 2px solid #000000; /* Borde negro de 2px */
    padding: 10px 20px;
    font-family: "Arial", sans-serif; /* Tipografía similar a la usada en Pokémon */
    font-size: 16px;
    border-radius: 5px; /* Esquinas redondeadas */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra suave */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transición suave */
}

.remove-btn:hover {
    font-weight: bold; /* Texto en negrita */

    border: 2px solid #000000; 
    background-color: #cc3333; /* Color de fondo rojo cuando se pasa el ratón */
}