/* Importación de la fuente Pokemon Solid */
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
/* Animación para mover la imagen del Pokémon al entrenador */

@keyframes moveToTrainer {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(100vw - 50px)); /* Ajusta el valor para que coincida con la posición final */
    }
}
/* Clase para activar la animación de movimiento del Pokémon */
.pokemon-img-moving {
    animation: moveToTrainer 5s forwards;
}
/* Estilos del pie de página */
footer {
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 1rem;
    background-color: #333;
    color: #fff;
}
/* Estilos para las secciones dentro del pie de página */
.footer-section {
    flex: 1;
    margin: 1rem;
}

.footer-section h4 {
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}
/* Imagen en movimiento dentro del pie de página */
.footer-section img.moving-image {
    max-width: 100px;
}
/* Línea horizontal */
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 2rem 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    footer {
        flex-direction: column;
    }

    .footer-section {
        margin: 1rem 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    .footer-section {
        text-align: center;
    }

    .footer-section img.moving-image {
        display: none;
    }
    /* Efecto hover para la imagen de movimiento */
    .footer-section img.moving-image:hover{
        box-shadow: 0 0 10px #FFCC00, 0 0 20px #FFCC00; 
    transition: all 0.5s ease-in-out;
    }
}
/* Efecto hover para los títulos h4 */
.clas-text-h4:hover{
    color: #FFCC00; 
    border-radius: 10px;
    box-shadow: 0 0 10px #FFCC00, 0 0 20px #FFCC00; 
    transition: all 0.5s ease-in-out;
    height: 25px;
    width: 200px;
    text-align: center;
}
/* Estilos para la lista en el pie de página */
.ul-foot{
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(40, 58, 47, 0.5);
    background-color: rgb(46, 42, 45);
    cursor: pointer; /* MANO COMO CURSOR*/
    
}
/* Efecto hover para la lista en el pie de página */
.ul-foot:hover{
    text-align: center;
    color: #FFCC00; 
    border-radius: 10px;
    box-shadow: 0 0 10px #FFCC00, 0 0 20px #FFCC00; 
}
    
/* Contenedor para los Pokémon seleccionados */
.selected-pokemons {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
}
/* Contenedor de la Pokédex */
.pokedex-container {
    padding: 17px 40px; 
    background-color: #FF4500; /* Reemplaza con el valor de colores.$color-nami */
    box-shadow: 0 0 8px #000000; /* Reemplaza con el valor de colores.$color-negro */
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.05s ease;
    cursor: pointer;
    line-height: 1.5;
    font-family: 'Times New Roman', serif; /* Reemplaza con el valor de tipografia-tex.$font-ancient-text */
    padding: 20px;
    border-radius: 50px; /* Asumiendo que .borde_redondeado_50px es border-radius: 50px; */
}
/* Efecto hover para el contenedor de la Pokédex */
.pokedex-container:hover {
    line-height: 3px;
    background-color: #FF4500; /* Reemplaza con el valor de colores.$color-nami */
    color: #FFA500; /* Reemplaza con el valor de colores.$color-secundario */
    box-shadow: 0 7px 29px 0 #000000; /* Reemplaza con el valor de colores.$color-negro */
}
/* Efecto activo para el contenedor de la Pokédex */
.pokedex-container:active {
    line-height: 3px;
    background-color: #FF4500; /* Reemplaza con el valor de colores.$color-nami */
    color: #FFA500; /* Reemplaza con el valor de colores.$color-secundario */
    box-shadow: 0 0 0 0 #000000; /* Reemplaza con el valor de colores.$color-negro */
    transform: translate(18px);
    transition: 100ms;
}


/* Contenedores principales */
header, main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}
/* Estilos para el botón de añadir acompañante */
#add-companion {
    margin-top: 50px;
}


/* Estilos para el título con animación de escritura */
h1#typing {
    font-size: 2em;
    margin: 20px 0;
}
/* Contenedor para el contenido principal */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #333;
}
/* Contenedor para los entrenadores */
.trainers-container {
    background-color: white;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1;
    min-width: 45%;
}
/* Orden de los contenedores en dispositivos pequeños */
.selected-pokemons {
    order: 1;
}

.trainers-container {
    order: 2;
}
/* Estilos para las tarjetas de Pokémon seleccionados y entrenadores */
.selected-pokemon-card, .trainer-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
/* Estilos para las imágenes de Pokémon */
.selected-pokemon-card img, .trainer-pokemon-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
/* Estilos para los títulos de las tarjetas de Pokémon seleccionados */
.selected-pokemon-card h3 {
    flex-grow: 1;
    margin: 0 10px;
}
/* Estilos para el botón de eliminar Pokémon */
.selected-pokemon-card button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
/* Estilos para el botón de eliminar con diseño inspirado en Pokémon */
.selected-pokemon-card button:hover {
    background-color: #cc0000;
}
.remove-btn {
    
    background-color: #3e3e3e;
    color: #ffffff; 
    font-weight: bold; /* Texto en negrita */

    border: 2px solid #000000; /* Borde negro de 2px */
    padding: 10px 20px;
    font-family: "Arial", sans-serif; /* Tipografía similar a la usada en Pokémon */
    font-size: 16px;
    border-radius: 5px; /* Esquinas redondeadas */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra suave */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transición suave */
}

.remove-btn:hover {
    font-weight: bold; /* Texto en negrita */

    border: 2px solid #000000; 
    background-color: #cc3333; /* Color de fondo rojo cuando se pasa el ratón */
}




/* Estilos para las tarjetas de entrenador */
.trainer-card {
    position: relative;
    padding: 20px;
    margin: 10px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: transform 0.2s;
}

.trainer-card.sabiduría {
    border: 2px solid blue;
    background-image: url('../Imgs/mystic3.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); 
}

.trainer-card.valor {
    border: 2px solid red;
    background-image: url('../Imgs/valor.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); 
}

.trainer-card.instinto {
    border: 2px solid yellow;
    background-image: url('../Imgs/instinto.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); 
}

.trainer-card h3 {
    
    font-size: 15px;
    font-family: 'Press Start 2P', cursive; 
    color: #FFCC00; 
    text-shadow: 2px 2px 0 #3333CC, 4px 4px 0 #FF0000; 
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #FFCC00;;
    

}

.trainer-card span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}

.trainer-card button {
    background-color: rgb(255,255,0);
    color: #720b0b; 
    font-weight: bold; /* Texto en negrita */

    border: 2px solid #000000; /* Borde negro de 2px */
    padding: 5px 5px;
    font-family: "Arial", sans-serif; /* Tipografía similar a la usada en Pokémon */
    font-size: 16px;
    border-radius: 5px; /* Esquinas redondeadas */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra suave */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transición suave */

}

.trainer-card button:hover {
    font-weight: bold; /* Texto en negrita */
    color: rgb(255,255,0);
    border: 2px solid #000000; 
    background-color: #0b3aa0; /* Color de fondo rojo cuando se pasa el ratón */
}

.trainer-card ul {
    list-style-type: none;
    padding: 0;
    margin-top: 12px;
}


.trainer-card ul li img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.trainer-card ul li button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    margin-left: auto;
}

.trainer-card ul li button:hover {
    background-color: #c82333;
}

.trainer-card ul li span {
    flex-grow: 1;
    font-weight: bold;
}

/* Estilos para las tarjetas de Pokémon seleccionados */
.selected-pokemon-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.selected-pokemon-card img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
}

.selected-pokemon-card h3 {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.entrenadores-text{
    font-size: 30px;
    font-family: 'Press Start 2P', cursive; 
    color: #FFCC00; 
    text-shadow: 2px 2px 0 #3333CC, 4px 4px 0 #FF0000; 
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #FFCC00;;
    animation: typing 5s steps(40, end) infinite, blink-caret 0.75s step-end infinite;

}

.comp {
    font-size: 20px;
    font-family: 'Press Start 2P', cursive; 
    color: #FFCC00; 
    text-shadow: 2px 2px 0 #3333CC, 4px 4px 0 #FF0000; 
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #FFCC00;;
    animation: typing 5s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
}
